<template>
    <div>
        <ul>
            <li v-for="food in foods" :key="food.id">
                {{ food.food_name }}
            </li>
        </ul>

        <hr>
        <label for="food">Food Name</label> <br><br>
        <input type="text"
               placeholder="Add a food"
               id="food"
               v-model="food_name"
               @keydown.enter="emit_to_parent"> <br><br>
        <button @click="emit_to_parent" >Send</button>
<!--           @keydown.enter="$emit('addFood', food_name)"> <br><br>-->
<!--    <button @click="$emit('addFood', food_name)" >Send</button>-->

    </div>
</template>

<script>
    export default {
        name: "Child",

        data() {
            return {
                food_name : ""
            }
        },

        props: ["foods"],

        methods: {
            emit_to_parent() {
                this.$emit('addFood', this.food_name);
                this.food_name = "";
            }
        }

    }
</script>

<style scoped>

</style>