<template>
    <div>
        <h5>Parent Component</h5>
        <Child :foods="list_of_food" @addFood="emit_from_child"/>
    </div>
</template>

<script>
    import Child from './Child';

    export default {
        name: "Parent",

        data() {
            return {
                id: 4,
                list_of_food : [
                    {
                        id: 1,
                        food_name: "Rebisco"
                    },
                    {
                        id: 2,
                        food_name: "Hansel",
                    },
                    {
                        id: 3,
                        food_name: "Fita"
                    }
                ]
            }
        },

        components : {
            Child
        },

        methods : {
            emit_from_child(food) {
                console.log(`food is ${food}`)
                let food_obj = {
                    food_name : food,
                    id : this.id
                };
                this.list_of_food.push(food_obj);
                this.id++;

            }
        }
    }
</script>

<style>
    body {
        font-family: Arial, sans-serif;
    }
</style>