<template>
    <div>
        <h5>Array Sort</h5>
        <input type="number" placeholder="Type the digit to be sorted" v-model="number">
        <hr>
        <ul>
            <li v-for="num in sorted_number" :key="num">
                {{ num }}
            </li>
        </ul>
            <p v-if="!sorted_number.length">
                <span>No results found</span>
            </p>
    </div>
</template>

<script>
    export default {
        name: "ArraySort.vue",

        data() {
            return {
                // list_of_numbers : ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
                list_of_numbers : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                number : 1
            }
        },

        computed : {
            sorted_number() {
                return this.list_of_numbers.filter(el => el === parseInt(this.number));
            }
        }
    }
</script>

<style scoped>

</style>