<template>
     <div id="body">
         <div class="form-group">
             <label for="txt_name">Name</label> <br>
             <input type="text" id="txt_name" v-model.trim=payload.name> <br>
         </div>

          <div class="form-group">
              <label for="Address">Address</label> <br>
              <input type="text" id="Address" v-model.trim=payload.address> <br>
          </div>

          <div class="form-group">
              <label for="Age">Age</label> <br>
              <input type="text" id="Age" v-model.number="payload.age"> <br>
          </div>

         <button @click="showPayload">Log Payload</button>
     </div>
</template>

<script>
    export default {
        name: "BindToPayload",

        data() {
            return {
                payload : {
                    name : "",
                    address : "",
                    age : 0
                }
            }
        },

        methods : {
            showPayload() {
                let newObj = { ...this.payload };
                console.log(newObj);
            }
        }
    }
</script>

<style scoped>
    #body {
        width: 1000px;
        font-family: Arial ,monospace;
    }

    input[type=text] {
        margin-top : .5rem;
        width: 250px;
    }

    label {
        display: inline-block;
        width: 5%;
    }

    .form-group {
        margin: 2%;
        font-size: .8rem;
    }

    button {
        width: 30%;
        padding: 10px;
        border: 1px solid black;
        cursor: pointer;
    }
</style>