<template>
    <div  id="bg">
        <div>
            <br>
            <label for="filter-name" style="text-align:center">Search for names here : </label><br>
            <input type="text" id="filter-name" v-model="findName">
        </div>
        <br>
        <p v-if="!filteredNames.length" class="center">No results found</p>
        <div>
            <ul>
                <li v-for="name in filteredNames" :key="name">
                    {{ name }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                findName : "",
                list_of_name: [
                    'Evan You',
                    'John Lindquist',
                    'Jen Looper',
                    'Miriam Suzanne',
                    'Chris Coyier',
                    'Geoff Graham',
                    'Divya Sasidharan',
                    'Lea Verou',
                    'Rachel Andrew',
                    'Vitaly Friedman',
                    'Ryan Florence',
                    'Dan Abramov',
                    'Jen Simmons',
                    'Robin Rendle',
                    'Nicole Sullivan'
                ]
            }
        },

        name : "Sorting",

        computed : {
            filteredNames() {
                let filter = new RegExp(this.findName, 'i');
                return this.list_of_name.filter(el => el.match(filter));
            }
        }
    }
</script>

<style>
    #bg {
        width: 270px;
        background: white;
        padding: 20px;
        margin: 30px;
        border-radius: 4px;
        opacity: 0.95;
    }
    body {
        background: #3ab494;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.4;
        color: #2c0938;
        font-family: 'Signika', sans-serif;
    }


    h1 {
        text-align: center;
        margin: 5px;
    }

    li {
        list-style: none outside none;
        text-align: center;
    }

    input[type="text"]{
        width: 100%;
    }

    ul {
        padding: 0;
    }

    .center {
        text-align: center;
    }

    label {
        font-size: .7rem;
    }
</style>
