<template>
    <div>
        <button  @[eventListener]="convert_to_blue = !convert_to_blue">Toggle Me</button>
        <p :class=" { red : convert_to_blue } " v-if="convert_to_blue">
            Red to blue
        </p>
        <p v-else>
            Blue to red
        </p>
    </div>
</template>

<script>
    export default {

        name: "Toggle" ,

        data() {
            return {
                eventListener : "click",
                convert_to_blue : true
            }
        } ,

    }
</script>

<style scoped>
    p {
        color : blue
    }

    .red {
        color : red!important
    }
</style>
