<template>
    <div>
        <ReusableAlert>
            <template #title>
                <p>404. Page can't be found</p>
            </template>
            <template #body>
                <p>Please contact your administrator regarding this issue. </p>
            </template>
        </ReusableAlert>
        <ReusableAlertSuccess>
            Success tho
        </ReusableAlertSuccess>
    </div>
</template>

<script>

    import ReusableAlert from './reusables/ReusableAlert';
    import ReusableAlertSuccess from './reusables/ReusableAlertSuccess';

    export default {
        components : {
            ReusableAlert,
            ReusableAlertSuccess
        }
    }

</script>

<style>


</style>
