<template>
    <div>
        <h3>Generic Error..</h3>
        <slot name="title"></slot>
        <slot name="body"></slot>
    </div>
</template>

<script>
    export default {
        name: "ReusableAlert"
    }
</script>

<style scoped>

</style>