<template>
    <h2>
<!--        Fallback text if there is no content passed on by the parent component  -->
        <slot>Success</slot>
    </h2>
</template>

<script>
    export default {
        name: "ReusableAlertSuccess",

        data() {
            return {
                user_name : "Laurenze"
            }
        }
    }
</script>

<style scoped>

</style>